* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 65px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-links {
    display: flex;
}

.header-contacts {
    display: flex;
    align-items: center;
}

.header-contacts a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}

.site-popup-btn {
    font-size: 16px;
    background-color: #ffffff;
    padding: 10px 35px;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

.header-links .site-link {
    font-size: 18px;
    margin-right: 20px;
}

.site-link > a {
    color: #000000;
    text-decoration: none;
}

.site-link > a:hover {
    text-decoration: underline;
}

.person-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/man.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

.person-section h1 {
    margin-bottom: 20px;
}

.person-section span {
    font-size: 20px;
    margin-bottom: 40px;
}

.person-btn {
    width: max-content;
    border: 1px solid transparent;
    background-color: #3F2AFF;
    color: #ffffff;
}

.section-title {
    margin: 0;
    font-size: 42px;
    font-weight: bold;
}

.services {
    margin-top: 50px;
}

.services-wrapper {
    display: flex;
    justify-content: space-between;
}

.service-item {
    width: 20%;
}

.section-content {
    padding: 50px 0px;
}

.services-wrapper .item-image img {
    width: 100px;
    margin-bottom: 30px;
}

.portfolio {
    margin: 180px auto 90px;
}

.portfolio-wrapper {
    display: flex;
    justify-content: space-between;
}

.portfolio-wrapper .item-image img {
    width: 370px;
    margin-bottom: 20px;
}

.site-info {
    background-color: #3F2AFF;
    padding: 50px 0 80px;
}

.site-info-wrapper {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.info-text {
    margin: 0;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 50px;
    width: 50%;
}

.info-sub-text {
    width: 50%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 90px;
}

.footer-links, .footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-links .site-link {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-socials .site-popup-btn {
    width: 90%;
}

.socials-wrapper {
    width: 100%;
    min-width: 230px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.social-item img {
    height: 15px;
}

.footer-contacts a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 10px;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000ad;
}

.popup-form {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background-color: #ffffff;
}

.form-input {
    font-size: 16px;
    min-width: 320px;
    margin-bottom: 10px;
    padding: 10px 0px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid #bdbdbd;
}

.form-input:focus {
    outline: none;
}

.form-submit {
    font-size: 16px;
    padding: 10px 0px;
    border: none;
    border-radius: 0;
    background-color: #3F2AFF;
    color: #ffffff;
}
